<div class="banner-section">
    <section class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <div class="slider-info">
                        <img src="~/Content/images/bannner/ba1.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="container">
                        <div class="banner-text">
                            <h3>Outdoor & Indoor Luxury</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-info">
                        <img src="~/Content/images/bannner/ba2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="container">
                        <div class="banner-text">
                            <h3>Luxury & Oriental Harmony</h3>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-info">
                        <img src="~/Content/images/bannner/ba3.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="container">
                        <div class="banner-text">
                            <h3>A Brand New Hotel</h3>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</div>
